[submodule "iree"]
	path = iree
	url = https://github.com/DanielKellerM/iree
[submodule "snitch_cluster"]
	path = snitch_cluster
	url = https://github.com/DanielKellerM/snitch_cluster
[submodule "xdsl"]
	path = xdsl
	url = https://github.com/xdslproject/xdsl
